<!DOCTYPE html><html>
<head><title>
{% block title %}
{% endblock %}
</title>
{% load static from staticfiles %}
{% django_js jquery=false %}

<!--jquery, used by bootstrap, highcharts, jsmol, tablesorter and opentip-->
<script src="{% static "jquery-1-8-2.min.js" %}"></script>

<!--bootstrap-->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
<script src="{% static "bootstrap.js" %}"></script>

<!--highcharts-->
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<!--jsmol
<!-- need to optimise
<script src="{ static "jsmol/js/JSmolCore.js" }"></script>
<script src="{ static "jsmol/js/JSmol.js" }"></script>
<script src="{ static "jsmol/js/JSmolApplet.js" }"></script>
<script src="{ static "jsmol/js/JSmolControls.js" }"></script>
<script src="{ static "jsmol/js/JSmolApi.js" }"></script>
<script src="{ static "jsmol/js/j2sjmol.js" }"></script>
<script src="{ static "jsmol/js/JSmoljQueryExt.js" }"></script>-->
<script src="{% static "jsmol/JSmol.min.nojq.js" %}"></script>

<!--personal jsmol functions-->
<script src="{% static "jsmol_functions.js" %}"></script>

<!--opentip-->
<script src="{% static "opentip.js" %}"></script>
<link href="{% static "opentip.css" %}" rel="stylesheet">

<!--personal tooltip text-->
<script src="{% static "tooltips.js" %}"></script>

<!--tablesorter-->
<link rel="stylesheet" href="{% static "tablesorter/css/theme.bootstrap.css" %}">
<script src="{% static "tablesorter/js/jquery.tablesorter.js" %}"></script>
<script src="{% static "tablesorter/js/jquery.tablesorter.widgets.js" %}"></script>
<script src="{% static "tablesorter/addons/pager/jquery.tablesorter.pager.js" %}"></script>
<script src="{% static "tablesorter/js/widgets/widget-columnSelector.js" %}"></script>
<script src="{% static "tablesorter/js/widgets/widget-cssStickyHeaders.js" %}"></script>

<!--call tablesorter on .tablesorter tables-->
<script src="{% static "tablesorter_function.js" %}"></script>

<!--script for target dropdown in navbar-->
<script>
function goTo(name) {
	if (name != "-") {
		window.location.href = Django.url('target_info',{'name':name});
	}
}

//info for JSMol window
var info = {
width: 720,
height: 720,
j2sPath: "{% static "jsmol/j2s" %}",
console: "jmolApplet0_infodiv",
};
</script>

<!--account for navbar, give space at bottom-->
<style>
body {
padding-top: 60px;
padding-bottom: 40px;
}
</style>

</head>
<body class="container">

<!-- Nav bar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="z-index:9999;">
  <div class="navbar-inner">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand home" href="{% url 'search' %}"><span class="glyphicon glyphicon-home"></span> Dockit</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle target" data-toggle="dropdown">Target<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <table class="table" style="width:320px;border-collapse:separate;border-spacing:10px">
            <form name="target_select_nav">
		<tr><td><a href="{% url 'target' %}">View all benchmarks</a></td><td></td></tr>
		<tr><td>Select from all targets:</td>
		<td><select name="target_choice_all" onChange=goTo(document.target_select_nav.target_choice_all.options[document.target_select_nav.target_choice_all.selectedIndex].value) style="width: 80px">
		<option value="-">&nbsp;&nbsp;&nbsp;&nbsp;---</option>
		{% for complex in Target %}
			<option value={{ complex.name }}>{{ complex.name }}</option>
		{% endfor %}</select></td></tr>

		<tr><td>Select from rigid targets:</td>
		<td><select name="target_choice_rig" onChange=goTo(document.target_select_nav.target_choice_rig.options[document.target_select_nav.target_choice_rig.selectedIndex].value) style="width: 80px">
		<option value="-">&nbsp;&nbsp;&nbsp;&nbsp;---</option>
		{% for complex in Rigid %}
			<option value={{ complex.name }}>{{ complex.name }}</option>
		{% endfor %}</select></td></tr>

		<tr><td>Select from medium targets:</td>
		<td><select name="target_choice_med" onChange=goTo(document.target_select_nav.target_choice_med.options[document.target_select_nav.target_choice_med.selectedIndex].value) style="width: 80px">
		<option value="-">&nbsp;&nbsp;&nbsp;&nbsp;---</option>
		{% for complex in Medium %}
			<option value={{ complex.name }}>{{ complex.name }}</option>
		{% endfor %}</select></td></tr>

		<tr><td>Select from difficult targets:</td>
		<td><select name="target_choice_diff" onChange=goTo(document.target_select_nav.target_choice_diff.options[document.target_select_nav.target_choice_diff.selectedIndex].value) style="width: 80px">
		<option value="-">&nbsp;&nbsp;&nbsp;&nbsp;---</option>
		{% for complex in Difficult %}
			<option value={{ complex.name }}>{{ complex.name }}</option>
		{% endfor %}</select></td></tr>
		</form></table>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle model" data-toggle="dropdown">Model<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <form method='POST'>{% csrf_token %}
            <table id="model_search_dropdown" class="table" style="width:500px;border-collapse:separate;border-spacing:10px">{{ form.as_table }}
            <tr><td></td><td><input type="submit" value="Submit" /></td></tr></table></form>
		
          </ul>
        </li>
	<li><a class="methods" href="{% url 'method' %}">Methods</a></li>
	<li><a class="summary" href="{% url 'summary' '1BGX' %}">Summary</a></li>
	<li><a class="scoring" href="{% url 'scoring' 'PISA' '1BGX' '10' %}">Scoring</a></li>
	<li><a class="refinement_page" href="{% url 'refinement' 'ZDOCK' 'FiberDock' '1ACB' '10' %}">Refinement</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="about" href="{% url 'about' %}">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </div>
</nav>

<!--script to disable/enable capri_rank checkboxes on the dropdown if the "All" category is selected-->
<script>
$('#model_search_dropdown [value="All_ranks"]').click(function(){
	if(this.checked){
		$('#model_search_dropdown [name="capri_rank"]').not('[value="All_ranks"]').attr('disabled','disabled');
	}
	else{
		$('#model_search_dropdown [name="capri_rank"]').not('[value="All_ranks"]').removeAttr('disabled');
	};
});
$(document).ready(function(){
	if($('#model_search_dropdown [value="All_ranks"]').attr('checked')){
		$('#model_search_dropdown [name="capri_rank"]').not('[value="All_ranks"]').attr('disabled','disabled');
	}
});

</script>
<!--script to stop dropdown collapsing on click of target select-->
<script type="text/javascript">
    $('.dropdown-menu table, .dropdown-menu label').click(function(e) {
        e.stopPropagation();
    });
</script>

{% block content %}
{% endblock %}
</body></html>
