{% extends 'all/base.html' %}{% block title %}Model select{% endblock %}
{% block content %}
{% django_js jquery=false %}
{% load static from staticfiles %}

<div id="everything" style="display: none;">
<h1>Model search results</h1><br>

<form method="get" action="{% static "csv/all_models.tar.gz" %}"><button type="submit">Download data for all models</button>&nbsp;&nbsp;Download the complete table with all models in the database as a CSV file</form><br>

<button id="popover" type="button" class="btn btn-default">
  Select Columns
</button><br><br>

<table id="model_select_table" class="tablesorter bootstrap-popup">
<thead>
<tr>
<th data-priority="1" class="th.target.name pdb_id" data-placeholder="e.g. '1ACB'">Target</th>
<th data-priority="1" class="th.number" data-placeholder="e.g. <=5">Method rank</th>
<th data-priority="3" class="filter-select th.target.difficulty difficulty">Difficulty</th>
<th data-priority="2" class="filter-select th.method.name method">Method</th>
<th data-priority="2" class="filter-select columnSelector-false th.refinement.name refinement">Refinement</th>
<th data-priority="1" class="columnSelector-false th.i_rmsd i_rmsd_model" data-placeholder="e.g. '<=8'">I-RMSD</th>
<th data-priority="4" class="columnSelector-false th.l_rmsd l_rmsd" data-placeholder="e.g. '<15'">L-RMSD</th>
<th data-priority="4" class="columnSelector-false th.r_rmsd r_rmsd" data-placeholder="e.g. '<4'">R-RMSD</th>
<th data-priority="3" class="columnSelector-false th.fnat fnat" data-placeholder="e.g. '>0.5'">Fnat</th>
<th data-priority="3" class="sorter-capri_rank filter-select th.capri_rank">CAPRI Rank</th>
<th data-priority="5" class="columnSelector-false th.dasa" data-placeholder="e.g. '<5000'">&#916;ASA</th>
<th data-priority="5" class="columnSelector-false th.no_clashes" data-placeholder="e.g. '<60'">No. of clashes</th>
<th data-priority="5" class="columnSelector-false th.i_l_rmsd l_i_rmsd" data-placeholder="e.g. '<3.1'">I-L-RMSD</th>
<th data-priority="6" class="columnSelector-false th.target.complex" data-placeholder="e.g. '1BGX'">Complex PDB ID</th>
<th data-priority="6" class="columnSelector-false th.target.receptor rec_pdb_id" data-placeholder="e.g. '1BVL'">Receptor PDB ID</th>
<th data-priority="6" class="columnSelector-false th.target.ligand lig_pdb_id" data-placeholder="e.g. '3LZT'">Ligand PDB ID</th>
<th data-priority="6" class="columnSelector-false" data-placeholder="e.g. '/\d/'">ZRANK Score</th>
<th data-priority="6" class="columnSelector-false" data-placeholder="e.g. '/\d/'">ZRANK2 Score</th>
<th data-priority="6" class="columnSelector-false" data-placeholder="e.g. '/\d/'">PISA Score</th>
<th data-priority="6" class="columnSelector-false" data-placeholder="e.g. '/\d/'">SPIDER Score</th>

</tr>

</thead>
<tbody>
{% for model in results %}
<tr class="bodytr" onMouseOver="create_tooltip('{{ model.id }}','{{ model.target__name }}','{{ model.target__difficulty }}','{{ model.method__name }}','{{ model.refinement__name }}','{{ model.i_rmsd }}','{{ model.l_rmsd }}','{{ model.r_rmsd }}','{{ model.fnat }}','{{ model.i_l_rmsd }}','{{ model.target__receptor }}','{{ model.target__ligand }}');">
<td class="td.target.name row_id_{{ model.id }}"><a href="{% url 'target_info' model.target__name %}">{{ model.target__name }}</a></td>
<td class="td.number row_id_{{ model.id }}">{{ model.number }}</td>
<td class="td.target.difficulty row_id_{{ model.id }}">{{ model.target__difficulty }}</td>
<td class="td.method.name row_id_{{ model.id }}" style="white-space: nowrap; overflow: hidden; text-overflow:ellipsis;">{{ model.method__name }}</td>
<td class="td.refinement.name row_id_{{ model.id }}">{{ model.refinement__name }}</td>
<td class="td.i_rmsd row_id_{{ model.id }}">{{ model.i_rmsd }}</td>
<td class="td.l_rmsd row_id_{{ model.id }}">{{ model.l_rmsd }}</td>
<td class="td.r_rmsd row_id_{{ model.id }}">{{ model.r_rmsd }}</td>
<td class="td.fnat row_id_{{ model.id }}">{{ model.fnat }}</td>
<td class="td.capri_rank row_id_{{ model.id }}">{{ model.capri_rank }}</td>
<td class="td.dasa row_id_{{ model.id }}">{{ model.dasa }}</td>
<td class="td.no_clashes row_id_{{ model.id }}">{{ model.no_clashes }}</td>
<td class="td.i_l_rmsd row_id_{{ model.id }}">{{ model.i_l_rmsd }}</td>
<td class="td.target.complex row_id_{{ model.id }}"><a target="_blank" href="http://www.rcsb.org/pdb/explore/explore.do?structureId={{ model.target__complex }}">{{ model.target__complex }}</a></td>
<td class="td.target.receptor row_id_{{ model.id }}"><a target="_blank" href="http://www.rcsb.org/pdb/explore/explore.do?structureId={{ model.target__receptor }}">{{ model.target__receptor }}</a></td>
<td class="td.target.ligand row_id_{{ model.id }}"><a target="_blank" href="http://www.rcsb.org/pdb/explore/explore.do?structureId={{ model.target__ligand }}">{{ model.target__ligand }}</a></td>
<td class="row_id_{{ model.id }}">{{ model.zrank_score }}</td>
<td class="row_id_{{ model.id }}">{{ model.zrank2_score }}</td>
<td class="row_id_{{ model.id }}">{{ model.pisa_score }}</td>
<td class="row_id_{{ model.id }}">{{ model.spider_score }}</td>
<td class="td.viewmodel"><a href="{% url 'model' model.id %}" class="view_model">View model</a></td>
<td class="td.viewallmodels" style="white-space: nowrap; overflow: hidden; text-overflow:ellipsis;"><a href="{% url 'model_select' model.target__name 'All' 'All' 0 0 0 0 1 0 %}" class="view_models">View more models for {{model.target__name}}</a></td>
</tr>
{% endfor %}
</tbody>
</table>
<div id="ts-pager" class="ts-pager">
  <form>
    <img src="{% static "tablesorter/addons/pager/icons/first.png" %}" class="first">
    <img src="{% static "tablesorter/addons/pager/icons/prev.png" %}" class="prev">
    <span class="pagedisplay"></span>
    <img src="{% static "tablesorter/addons/pager/icons/next.png" %}" class="next">
    <img src="{% static "tablesorter/addons/pager/icons/last.png" %}" class="last">
    <select class="pagesize">
      <option selected="selected" value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
    </select>
  </form>
</div>
<br>

<a href="{% url 'search' %}">Back to search</a><br>
</div>

<style id="css">
#popover-target label {
  margin: 0 5px;
  display: block;
}
#popover-target input {
  margin-right: 5px;
}
.popover {
  margin-top: -65px; /* adjust popover position */
}

</style>

<script id="js">$(function() {

$('#popover')
    .popover({
      placement: 'right',
      html: true, // required if content has HTML
      content: '<div id="popover-target"></div>'
    })
    // bootstrap popover event triggered when the popover opens
    .on('shown.bs.popover', function () {
      // call this function to copy the column selection code into the popover
      $.tablesorter.columnSelector.attachTo( $('.bootstrap-popup'), '#popover-target');
    });


});

//if model id is not in list of tooltips already created, create the tooltip
var opentip_formatting = { target:true, style:"dark", stem:"false", tipJoint:"top left", targetJoint:"bottom left" };
var created_tooltip_list = [];

function create_tooltip(model_id,target_name,target_difficulty,method_name,refinement_name,i_rmsd,l_rmsd,r_rmsd,fnat,i_l_rmsd,target_receptor,target_ligand) {
if ($.inArray(model_id, created_tooltip_list) == -1) {
	$(".row_id_"+model_id).each( function() {
	var tooltip = new Opentip($(this), opentip_formatting);
	var content = "<b>Model details</b><br><br>";
	content += "<table style=\"border-collapse: separate; border-spacing: 8px;\"><tr><td>Target</td><td>"+target_name+"</td></tr>";
	content += "<tr><td>Difficulty</td><td>"+target_difficulty+"</td></tr>";
	content += "<tr><td>Method</td><td>"+method_name+"</td></tr>";
	content += "<tr><td>Refinement</td><td>"+refinement_name+"</td></tr>";
	content += "<tr><td>I-RMSD</td><td>"+i_rmsd+"</td></tr>";
	content += "<tr><td>L-RMSD</td><td>"+l_rmsd+"</td></tr>";
	content += "<tr><td>R-RMSD</td><td>"+r_rmsd+"</td></tr>";
	content += "<tr><td>Fnat</td><td>"+fnat+"</td></tr>";
	content += "<tr><td>I-L-RMSD</td><td>"+i_l_rmsd+"</td></tr>";
	content += "<tr><td>Target receptor</td><td>"+target_receptor+"</td></tr>";
	content += "<tr><td>Target ligand</td><td>"+target_ligand+"</td></tr></table>";
	tooltip.setContent(content);
	});
	created_tooltip_list.push(model_id);
}
};
$(document).ready(function(){
	$('#everything').show();
});
</script>

{% endblock %}
