{% extends 'all/base.html' %}{% block title %}{{ model.name }}{% endblock %}
{% block content %}
<h1>Model details</h1>
<table class="table"><tr>

<td>Complex</td>
<td>{{ model.target.complex }}</td>
</tr><tr>

<td>Method</td>
<td>{{ model.method.name }}</td>
</tr><tr>

<td>Refinement</td>
<td>{{ model.refinement.name }}</td>
</tr><tr>

<td>R-RMSD</td>
<td>{{ model.r_rmsd }}</td>
</tr><tr>

<td>L-RMSD</td>
<td>{{ model.l_rmsd }}</td>
</tr><tr>

<td>I-RMSD</td>
<td>{{ model.i_rmsd }}</td>
</tr><tr>

<td>L-I-RMSD</td>
<td>{{ model.i_l_rmsd }}</td>
</tr><tr>

<td>fnat</td>
<td>{{ model.fnat }}</td>
</tr><tr>

<td>DASA</td>
<td>{{ model.dasa }}</td>
</tr><tr>

<td>ZRANK score</td>
<td></td>
</tr><tr>

<td>PISA score</td>
<td></td>
</tr></table>

<table name="layout_table"><tr><td>
<script>
//visibility of native_rec, native_lig , model_rec, model_lig
var vis_array = [false,false,true,true];

var ref_int_5A_residues = "{{ ref_int_5A_residues }}";
var ref_int_10A_residues = "{{ ref_int_10A_residues }}";
var inp_int_5A_residues = "{{ inp_int_5A_residues }}";
var inp_int_10A_residues = "{{ inp_int_10A_residues }}";

//initial commands to set up
//main difference to target page is that the model is one pdb file
var input = "background black; load FILES \"/static/benchmarks/{{ model.target.name }}_r_b.pdb\" \"/static/benchmarks/{{ model.target.name }}_l_b.pdb\" \"/static/1ZM4_cluspro-balanced_nothing_1.pdb-A-fitted\"; CARTOON only; frame ALL;";
input += "select */1; color translucent 0.7 "+rec_colours[0]+";";
input += "select */2; color translucent 0.7 "+lig_colours[0]+";";
input += "select {"+"{{ model_rec_chains }}"+"}; color translucent 0.7 "+rec_colours[1]+";";
input += "select {"+"{{ model_lig_chains }}"+"}; color translucent 0.7 "+lig_colours[1]+";";
input += "color {"+ref_int_10A_residues+"} OPAQUE; select all; display {"+"{{ model_rec_chains }} or {{ model_lig_chains }}"+"};";
input += "{{ ref_draw_5A_contacts }} {{ inp_draw_5A_contacts }} draw OFF;";
//create JSMol window
jmolApplet0 = Jmol.getApplet("jmolApplet0", info);
//initial input commands
Jmol.script(jmolApplet0,input);

//re-renders image depending on choices
function re_render() {
Jmol.script(jmolApplet0,"select all; color TRANSLUCENT 0.7; color {"+ref_int_10A_residues+"} OPAQUE; cartoon only; hide all;");
//make models visible as required
for (var i=1;i<=4;i++) {
if (vis_array[i-1]==true) {
Jmol.script(jmolApplet0,"display displayed or */"+i+";");
}}
//change what is visible to account for selection
if (what_is_visible=="5A") {
Jmol.script(jmolApplet0,"display displayed and {"+ref_int_5A_residues+"};");
//Jmol.script(jmolApplet0,"display displayed and {"+ref_int_5A_residues+" or "+inp_int_5A_residues+"};");
} else if (what_is_visible=="10A") {
Jmol.script(jmolApplet0,"display displayed and {"+ref_int_10A_residues+" or "+inp_int_10A_residues+"}; color TRANSLUCENT 0.7; color {"+ref_int_5A_residues+"} OPAQUE;");
}
//change how 5A interface residues are viewed
if (int_res_visualisation=="ball_and_stick") {
Jmol.script(jmolApplet0,"select {"+ref_int_5A_residues+"}; wireframe on");
} else if (int_res_visualisation=="space_fill") {
Jmol.script(jmolApplet0,"select {"+ref_int_5A_residues+"}; spacefill on");
}}
</script><br></td>

<td style="padding-left: 10px;line-height: 1.5;">
Receptor chains in bound structure:<br>
<script>
document.write("{{ model.target.receptor_bound_chain }} - "+rec_colours[0]);
</script>
<br><a id="toggle_1" onClick='toggle_visible(1)' style="cursor: pointer">Show</a>
<br><br>Ligand chains in bound structure:<br>
<script>
document.write("{{ model.target.ligand_bound_chain }} - "+lig_colours[0]);
</script>
<br><a id="toggle_2" onClick='toggle_visible(2)' style="cursor: pointer">Show</a>
<br><br>Receptor chains in unbound structure:<br>
<script>
document.write("{{ model.target.receptor_bound_chain }} - "+rec_colours[1]);
</script>
<br><a id="toggle_3" onClick='toggle_visible(3)' style="cursor: pointer">Hide</a>
<br><br>Ligand chains in unbound structure:<br>
<script>
document.write("{{ model.target.ligand_bound_chain }} - "+lig_colours[1]);
</script>
<br><a id="toggle_4" onClick='toggle_visible(4)' style="cursor: pointer">Hide</a>
<br><br>
<a id="toggle_spin" onClick=toggle_spin() style="cursor: pointer">Start spin</a>
<br><br>
<a id="toggle_contacts" onClick=toggle_contacts() style="cursor: pointer">Show 5 &#8491; contacts as lines</a>
<br><br>

<form name="visibility_changer" onSubmit="return false">
Change how much of the complex is visible:<br>
<input type="radio" name="visibility_select" onClick='change_visibility("all")' checked>&nbsp;View whole complex<br>
<input type="radio" name="visibility_select" onClick='change_visibility("5A")'>&nbsp;View 5 &#8491; interface residues only<br>
<input type="radio" name="visibility_select" onClick='change_visibility("10A")'>&nbsp;View 10 &#8491; interface residues only<br>
</form><br>

<form name="int_res_changer" onSubmit="return false">
Change how the 5 &#8491; interface residues are viewed:<br>
<input type="radio" name="int_res_select" onClick='change_int_res("cartoon")' checked>&nbsp;View as cartoon<br>
<input type="radio" name="int_res_select" onClick='change_int_res("ball_and_stick")'>&nbsp;View as ball and stick<br>
<input type="radio" name="int_res_select" onClick='change_int_res("space_fill")'>&nbsp;View as space-filling spheres<br>
</form></td></tr></table>

<form name="term_form" onSubmit="return false">
JSMol terminal:&nbsp;&nbsp;<input type="text" name="terminal" style="width: 300px" />
<button onClick=update_Jmol(document.term_form.terminal.value)>Update</button>
<button onClick=reset_Jmol();>Reset</button></form>

<a href="{% url 'search' %}">Back to start</a>
{% endblock %}
