{% extends 'all/base.html' %}{% block title %}{{ model.name }}{% endblock %}
{% block content %}
{% load static from staticfiles %}
{% django_js jquery=false %}

<div class="page-header">
<h1>Model details <small><a href="{% url 'target_info' model.target.name %}" class="view_target">View target details</a></small></h1>
</div>

<table class="table"><tr>

<td colspan="2"><a href="{% url 'model_select' model.target.name 'All' 'All' 0 0 0 0 1 0 %}" class="view_models">View other models for {{ model.target.name }}</a></td>
</tr><tr>

<td><span class="pdb_id">Target</span></td>
<td><a href="{{ pdb_url }}{{ model.target.name }}" target="_blank" class="pdb_id">{{ model.target.name }}</a></td>
</tr><tr>

<td><span class="method">Method</span></td>
<td><span class="method">{{ model.method.name }}</span></td>
</tr><tr>

<td><span class="refinement">Refinement</span></td>
<td><span class="refinement">{{ model.refinement.name }}</span></td>
</tr><tr>

<td><span class="r_rmsd">R-RMSD</span></td>
<td><span class="r_rmsd">{{ model.r_rmsd }}</span></td>
</tr><tr>

<td><span class="l_rmsd">L-RMSD</span></td>
<td><span class="l_rmsd">{{ model.l_rmsd }}</span></td>
</tr><tr>

<td><span class="i_rmsd_model">I-RMSD</span></td>
<td><span class="i_rmsd_model">{{ model.i_rmsd }}</span></td>
</tr><tr>

<td><span class="l_i_rmsd">L-I-RMSD</span></td>
<td><span class="l_i_rmsd">{{ model.i_l_rmsd }}</span></td>
</tr><tr>

<td><span class="fnat">Fnat</span></td>
<td><span class="fnat">{{ model.fnat }}</span></td>
</tr><tr>

<td><span class="dasa">DASA</span></td>
<td><span class="dasa">{{ dasa }}</span></td>
</tr><tr>

<td>ZRANK score</td>
<td>{{ zrank_score }}</td>
</tr><tr>

<td>ZRANK2 score</td>
<td>{{ zrank2_score }}</td>
</tr><tr>

<td>PISA score</td>
<td>{{ pisa_score }}</td>
</tr><tr>

<td>SPIDER score</td>
<td>{{ spider_score }}</td>
</tr></table>

<table name="layout_table"><tr><td class="jsmol">
<script>
//visibility of native_rec, native_lig , model_rec, model_lig
var vis_array = [true,true,true,true];

var ref_int_5A_residues = "{{ ref_int_5A_residues }}";
var ref_int_10A_residues = "{{ ref_int_10A_residues }}";
var inp_int_5A_residues = "{{ inp_int_5A_residues }}";
var inp_int_10A_residues = "{{ inp_int_10A_residues }}";

//initial commands to set up
//main difference to target page is that the model is one pdb file
var file_names = ["{% static file_names.rb %}","{% static file_names.lb %}","{% static file_names.model %}"];
var input = "background white; load FILES \""+file_names[0]+"\" \""+file_names[1]+"\" \""+file_names[2]+"\"; wireframe only; frame ALL;";
input += "select */1; color translucent 0.7 "+rec_colours[0]+";";
input += "select */2; color translucent 0.7 "+lig_colours[0]+";";
input += "select {"+"{{ model_rec_chains }}"+"}; color translucent 0.7 "+rec_colours[1]+";";
input += "select {"+"{{ model_lig_chains }}"+"}; color translucent 0.7 "+lig_colours[1]+";";
input += "color {"+ref_int_10A_residues+" or "+inp_int_10A_residues+"} OPAQUE; select all; display all;";
input += "{{ ref_draw_5A_contacts }} {{ inp_draw_5A_contacts }} draw OFF;";
//create JSMol window
jmolApplet0 = Jmol.getApplet("jmolApplet0", info);
//initial input commands
Jmol.script(jmolApplet0,input);

//re-renders image depending on choices
function re_render() {
Jmol.script(jmolApplet0,"select all; color TRANSLUCENT 0.7; color {"+ref_int_10A_residues+" or "+inp_int_10A_residues+"} OPAQUE;");
if (complex_visualisation == "wireframe") {
	Jmol.script(jmolApplet0,"wireframe only; hide all;")
} else {
	Jmol.script(jmolApplet0,"cartoon only; hide all;")
}
//make models visible as required
for (var i=1;i<=4;i++) {
if (vis_array[i-1]==true) {
	if (i <= 2) {
	Jmol.script(jmolApplet0,"display displayed or */"+i+";");
	} else if (i == 3) {
	Jmol.script(jmolApplet0,"select { {{ model_rec_chains }} }; display displayed or selected;");
	} else {
	Jmol.script(jmolApplet0,"select { {{ model_lig_chains }} }; display displayed or selected;");
}}}
//change what is visible to account for selection
if (what_is_visible=="5A") {
Jmol.script(jmolApplet0,"select { "+ref_int_5A_residues+" or "+inp_int_5A_residues+" }; display displayed and selected;");
} else if (what_is_visible=="10A") {
Jmol.script(jmolApplet0,"select { "+ref_int_10A_residues+" or "+inp_int_10A_residues+" }; display displayed and selected; color TRANSLUCENT 0.7; color {"+ref_int_5A_residues+" or "+inp_int_5A_residues+"} OPAQUE;");
}
//change how 5A interface residues are viewed
if (int_res_visualisation=="ball_and_stick") {
Jmol.script(jmolApplet0,"select { {{ inp_int_5A_residues }} }; wireframe 0.15; spacefill 20%; color wireframe cpk; color balls cpk;");
} else if (int_res_visualisation=="space_fill") {
Jmol.script(jmolApplet0,"select { {{ inp_int_5A_residues }} }; spacefill on; select { {{ model_rec_chains }} }; color balls "+rec_colours[1]+"; select { {{ model_lig_chains }} }; color balls "+lig_colours[1]+"; select all; color balls TRANSLUCENT 0.7;");
} else {
var input = "select { {{ inp_int_5A_residues }} }; select selected and { {{ model_rec_chains }} }; color wireframe "+rec_colours[1]+";";
input += "select { {{ inp_int_5A_residues }} }; select selected and { {{ model_lig_chains }} }; color wireframe "+lig_colours[1]+";";
Jmol.script(jmolApplet0,input);
}}
</script><br></td>

<td style="padding-left: 10px;line-height: 1.5;">
<a onClick='toggle_complex_vis()' style="cursor: pointer">Toggle wireframe/cartoon representation</a>
<br><br>
Receptor chains in native structure:<br>
<script>
document.write("{{ model.target.receptor_bound_chain }} - "+rec_colours[0]);
</script>
<br><a id="toggle_1" onClick='toggle_visible(1)' style="cursor: pointer">Hide</a>
<br><br>Ligand chains in native structure:<br>
<script>
document.write("{{ model.target.ligand_bound_chain }} - "+lig_colours[0]);
</script>
<br><a id="toggle_2" onClick='toggle_visible(2)' style="cursor: pointer">Hide</a>
<br><br>Receptor chains in model structure:<br>
<script>
document.write("{{ model.target.receptor_bound_chain }} - "+rec_colours[1]);
</script>
<br><a id="toggle_3" onClick='toggle_visible(3)' style="cursor: pointer">Hide</a>
<br><br>Ligand chains in model structure:<br>
<script>
document.write("{{ model.target.ligand_bound_chain }} - "+lig_colours[1]);
</script>
<br><a id="toggle_4" onClick='toggle_visible(4)' style="cursor: pointer">Hide</a>
<br><br>
<a id="toggle_spin" onClick=toggle_spin() style="cursor: pointer">Start spin</a>
<br><br>
<a id="toggle_contacts" onClick=toggle_contacts() style="cursor: pointer">Show 5 &#8491; contacts as lines</a>
<br><br>

<form name="visibility_changer" onSubmit="return false">
Change how much of the complex is visible:<br>
<input type="radio" name="visibility_select" onClick='change_visibility("all")' checked>&nbsp;View whole complex<br>
<input type="radio" name="visibility_select" onClick='change_visibility("5A")'>&nbsp;View 5 &#8491; interface residues only<br>
<input type="radio" name="visibility_select" onClick='change_visibility("10A")'>&nbsp;View 10 &#8491; interface residues only<br>
</form><br>

<form name="int_res_changer" onSubmit="return false">
Change how the model 5 &#8491; interface residues are viewed:<br>
<input type="radio" name="int_res_select" onClick='change_int_res("cartoon")' checked>&nbsp;View as wireframe/cartoon<br>
<input type="radio" name="int_res_select" onClick='change_int_res("ball_and_stick")'>&nbsp;View as ball and stick<br>
<input type="radio" name="int_res_select" onClick='change_int_res("space_fill")'>&nbsp;View as space-filling spheres<br>
</form></td></tr></table>

<form name="term_form" onSubmit="return false">
JSMol terminal:&nbsp;&nbsp;<input type="text" name="terminal" style="width: 300px" placeholder="e.g. 'select SER; color black'" />
<button onClick=update_Jmol(document.term_form.terminal.value)>Update</button>
<button onClick=reset_Jmol();>Reset</button></form>

<a href="{% url 'search' %}">Back to start</a>
{% endblock %}
