{% extends 'all/base.html' %}{% block title %}Refinement{% endblock %}
{% block content %}
{% load static from staticfiles %}

<div class="page-header">
<h1>Refinement <small>Some text</small></h1>
</div>

<div id="refinement_graph" style="width:100%; height:600px;"></div>

<div id="slider"></div>

<script>
//change refinement graph when options are changed
function change_graph(target,method,refinement) {
document.location.href="/refinement_"+method+"_"+refinement+"_"+target;
}

var no_ref_irmsds = [{% for a in no_ref_irmsds %}"{{ a }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var improvements = [{% for b in improvements %}"{{ b }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var ref_model_ids = [{% for c in ref_model_ids %}"{{ c }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];

var data_series = []
for (var i=0;i<improvements.length;i++) {
data_series.push({'x':parseFloat(no_ref_irmsds[i]),'y':parseFloat(improvements[i]),'ref_model_id':parseInt(ref_model_ids[i])})
}

$(function () {
	$('#refinement_graph').highcharts({
	chart: {
	},
	title: {
		text: 'Improvement in I-RMSD of {{ method }} models on {{ refinement }} refinement for {{ target }}'
	},
	legend : {
		enabled: false
	},
	xAxis: {
		title: {
			text: 'Model I-RMSD without refinement'
		}
	},
	yAxis: {
		title: {
			text: 'Change in I-RMSD on {{ refinement }} refinement'
		},
		plotLines: [{
			color: '#FF0000',
			width: 2,
			value: 0
            	}]
	},
	plotOptions: {
		series: {
			cursor: 'pointer',
			point : {
				events: {
					click : function(){
						location.href = "/model_"+this.options.ref_model_id;
					}
				}
			}
		}
	},
	/*tooltip: {
		useHTML : true,
		formatter: function() {
			var tooltip_text = '<table>';
			tooltip_text += '<tr><td><b>Model method:</b></td><td>'+this.point.options.model_method+'</td></tr>';
			tooltip_text += '<tr><td><b>I-RMSD of model:</b></td><td>'+this.x+'</td></tr>';
			tooltip_text += '<tr><td><b>{{ scorer_choice }} score:</b></td><td>'+this.y+'</td></tr>';
			tooltip_text += '</table>';
			return tooltip_text;
		}
	},*/
	series: [{
		type: 'scatter',
		data: data_series,
		marker : {
			symbol: 'circle',
			radius: 2
		}
	}]
	});

	var gaugeChartObj = new Highcharts.Chart(refinement_graph);

	$("#slider").slider({
        value: 20,
        range: "min",
        min: 0,
        max: 50,
        animate: true,
        slide: function (event, ui) {
             gaugeChartObj.xAxis[0].max = ui.value;
        }
        });
});
</script>

<form name="refinement_graph_choices" action="">
Choose a target:&nbsp;&nbsp;<select name="target_choice_all" style="width: 90px">
{% for each_target in target_names %}
<option value={{ each_target }}>{{ each_target }}</option>
{% endfor %}
</select>
Choose a docking method:&nbsp;&nbsp;<select name="docking_method">
{% for each_method in method_names %}
<option value={{ each_method }}>{{ each_method }}</option>
{% endfor %}
</select>
Choose a refinement method:&nbsp;&nbsp;<select name="refinement_method">
{% for each_refinement in refinement_names %}
<option value={{ each_refinement }}>{{ each_refinement }}</option>
{% endfor %}
</select>
<button type="button" onClick='change_graph(document.refinement_graph_choices.target_choice_all.options[document.refinement_graph_choices.target_choice_all.selectedIndex].value,document.refinement_graph_choices.docking_method.options[document.refinement_graph_choices.docking_method.selectedIndex].value,document.refinement_graph_choices.refinement_method.options[document.refinement_graph_choices.refinement_method.selectedIndex].value)'>Update</button>
</form>

<a href="{% url 'search' %}">Back to start</a>
{% endblock %}
