{% extends 'all/base.html' %}{% block title %}Scoring{% endblock %}
{% block content %}
{% load static from staticfiles %}
{% django_js jquery=false %}

<div class="page-header">
<h1>Scoring</h1>
</div>

{% if at_least_one_score %}

<div id="scoring_graph" style="width:100%; height:600px;"></div>

<script>
//change scoring graph when options are changed
function change_graph(target,scorer,cutoff) {
window.location.href = Django.url('scoring',{'scorer':scorer,'target':target,'cutoff':cutoff});
}

var model_irmsds = [{% for a in model_irmsds %}"{{ a }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var scores = [{% for b in scores %}"{{ b }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var model_ids = [{% for c in model_ids %}"{{ c }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var model_methods = [{% for d in model_methods %}"{{ d }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var cutoff = parseFloat('{{ cutoff }}');

var data_series = []
for (var i=0;i<model_irmsds.length;i++) {
data_series.push({'x':parseFloat(model_irmsds[i]),'y':parseFloat(scores[i]),'model_id':parseInt(model_ids[i]),'model_method':model_methods[i]})
}

$(function () {
	$('#scoring_graph').highcharts({
	chart: {
		type: 'scatter'
	},
	title: {
		text: '{{ scorer_choice }} score against I-RMSD for each model in {{ target_choice }}'
	},
	legend : {
		enabled: true
	},
	xAxis: {
		title: {
			text: 'I-RMSD of model'
		},
		min: 0,
		max: cutoff
	},
	yAxis: {
		title: {
			text: '{{ scorer_choice }} score'
		}
	},
	plotOptions: {
		series: {
			turboThreshold: 0,
			cursor: 'pointer',
			point : {
				events: {
					click : function(){
						location.href = "/model_"+this.options.model_id;
					}
				}
			}
		}
	},
	tooltip: {
		useHTML : true,
		formatter: function() {
			var tooltip_text = '<table>';
			tooltip_text += '<tr><td><b>Model method:</b></td><td>'+this.point.options.model_method+'</td></tr>';
			tooltip_text += '<tr><td><b>I-RMSD of model:</b></td><td>'+this.x+'</td></tr>';
			tooltip_text += '<tr><td><b>{{ scorer_choice }} score:</b></td><td>'+this.y+'</td></tr>';
			tooltip_text += '</table>';
			return tooltip_text;
		}
	},
	series: [
		{% for method in method_names %}{
		name: '{{ method }}',
		marker : {
			symbol: 'circle',
			radius: 2
		},
		data: data_series.filter(function (element) {
			return element.model_method == '{{ method }}';
		})}{% if forloop.last %}{%else%},{%endif%}{% endfor %}
	]});
});
</script>

<br>Try changing the cutoff to see more results, but beware that scoring of poor quality models is difficult.<br><br><br>

{% else %}

There were no scores of the chosen type found for the chosen target. Please select different criteria.<br><br><br>

{% endif %}

<table class="table">
<form name="scoring_graph_choices" onsubmit="return false">
<tr><td>Choose a target:</td>
<td><select name="target_choice_all" style="width: 90px">
{% for each_target in target_names %}
{% if each_target == target_choice %}
<option selected="selected" value={{ each_target }}>{{ each_target }}</option>
{% else %}
<option value={{ each_target }}>{{ each_target }}</option>
{% endif %}
{% endfor %}
</select></td></tr>
<tr><td>Choose a scoring method:</td>
<td><select name="scoring_method" style="width: 90px">
{% for each_scorer in scorer_names %}
{% if each_scorer == scorer_choice %}
<option selected="selected" value={{ each_scorer }}>{{ each_scorer }}</option>
{% else %}
<option value={{ each_scorer }}>{{ each_scorer }}</option>
{% endif %}
{% endfor %}
</select></td></tr>
<tr><td>Choose a cut-off I-RMSD:</td>
<td><input type="text" name="cutoff_irmsd" value="{{ cutoff }}" size=6></td></tr>
<tr><td></td><td><button type="button" onClick='change_graph(document.scoring_graph_choices.target_choice_all.options[document.scoring_graph_choices.target_choice_all.selectedIndex].value,document.scoring_graph_choices.scoring_method.options[document.scoring_graph_choices.scoring_method.selectedIndex].value,document.scoring_graph_choices.cutoff_irmsd.value)'>Update</button></td></tr>
</form></table>

<a href="#">Back to top</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'search' %}">Back to start</a>
{% endblock %}
