{% extends 'all/base.html' %}{% block title %}Summary{% endblock %}
{% block content %}
{% load static from staticfiles %}
{% django_js jquery=false %}

<div class="page-header">
<h1>Summary</h1>
</div>

<h2>Per target</h2>

<table class="table">
<form name="target_choice"">
<tr><td>Choose a target:</td>
<td><select name="target_choice_all" selected="{{ target_choice }}" onChange='change_graph(document.target_choice.target_choice_all.options[document.target_choice.target_choice_all.selectedIndex].value)' style="width: 90px">
<option value="-">&nbsp;&nbsp;&nbsp;&nbsp;---</option>
{% for each in target_names %}
<option value={{ each }}>{{ each }}</option>
{% endfor %}
</select></td></tr>
</form></table>

<script>
//change graphs when target choice is changed
function change_graph(target) {
if (target != "-") {
	window.location.href=Django.url('summary',{'target':target});;
}}
</script>

<script>
var methods = [{% for c in methods %}"{{ c }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
</script>

{% if at_least_one %}

<p>View acceptable and better solutions for {{ target.name }}: Select top <select id="n_top_models">
<option value="Top 1">1</option>
<option value="Top 10">10</option>
<option value="Top 100" selected="selected">100</option>
<option value="Top 500">500</option></select> (according to method rank)</p><br>

<div id="capri_comparison" style="width:100%; height:600px;"></div>

<p>Note that ClusPro models are a result of the clustering of 1000 structures (&#126;30 models are produced per target). Be careful when comparing ClusPro to other methods.</p>

<script>
var acceptable_by_method_500 = [{% for a in acceptable_by_method_500 %}"{{ a }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var acceptable_by_method_100 = [{% for b in acceptable_by_method_100 %}"{{ b }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var acceptable_by_method_10 = [{% for c in acceptable_by_method_10 %}"{{ c }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var acceptable_by_method_1 = [{% for c in acceptable_by_method_1 %}"{{ c }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var medium_by_method_500 = [{% for a in medium_by_method_500 %}"{{ a }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var medium_by_method_100 = [{% for b in medium_by_method_100 %}"{{ b }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var medium_by_method_10 = [{% for c in medium_by_method_10 %}"{{ c }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var medium_by_method_1 = [{% for c in medium_by_method_1 %}"{{ c }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var high_by_method_500 = [{% for a in high_by_method_500 %}"{{ a }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var high_by_method_100 = [{% for b in high_by_method_100 %}"{{ b }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var high_by_method_10 = [{% for c in high_by_method_10 %}"{{ c }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var high_by_method_1 = [{% for c in high_by_method_1 %}"{{ c }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];


for (var i=0;i<acceptable_by_method_500.length;i++) {
acceptable_by_method_500[i] = parseFloat(acceptable_by_method_500[i])
acceptable_by_method_100[i] = parseFloat(acceptable_by_method_100[i])
acceptable_by_method_10[i] = parseFloat(acceptable_by_method_10[i])
acceptable_by_method_1[i] = parseFloat(acceptable_by_method_1[i])
medium_by_method_500[i] = parseFloat(medium_by_method_500[i])
medium_by_method_100[i] = parseFloat(medium_by_method_100[i])
medium_by_method_10[i] = parseFloat(medium_by_method_10[i])
medium_by_method_1[i] = parseFloat(medium_by_method_1[i])
high_by_method_500[i] = parseFloat(high_by_method_500[i])
high_by_method_100[i] = parseFloat(high_by_method_100[i])
high_by_method_10[i] = parseFloat(high_by_method_10[i])
high_by_method_1[i] = parseFloat(high_by_method_1[i])
}


$(function () {
	$('#capri_comparison').highcharts({
	chart: {
		type: 'column'
	},
	title: {
		text: 'Number of acceptable, medium and high quality models produced by each docking method for {{ target.name }}, a {{ target_difficulty }} target'
	},
	subtitle: {
		text: 'Amongst the Top 100 models according to method rank'
	},
	legend : {
		enabled: true
	},
	xAxis: {
		title: {
			text: 'Docking method'
		}
	},
	yAxis: {
		min: 0,
		title: {
			text: 'Number of acceptable or better models produced in the Top 100 models'
		},
	},
	xAxis: {
		categories: methods
	},
	plotOptions: {
        	series: {
            		stacking: 'normal'
        	}
    	},
	series: [{
		id: 'acc_500',
		name: 'Acceptable models',
		data: acceptable_by_method_500,
		stack: 'Top 500',
		color: '#990000',
		visible: false,
		showInLegend: false
	}, {
		id: 'acc_100',
		name: 'Acceptable models',
		data: acceptable_by_method_100,
		stack: 'Top 100',
		color: '#990000',
	}, {
		id: 'acc_10',
		name: 'Acceptable models',
		data: acceptable_by_method_10,
		stack: 'Top 10',
		color: '#990000',
		visible: false,
		showInLegend: false
	}, {
		id: 'acc_1',
		name: 'Acceptable models',
		data: acceptable_by_method_1,
		stack: 'Top 1',
		color: '#990000',
		visible: false,
		showInLegend: false
	}, {
		id: 'med_500',
		name: 'Medium models',
		data: medium_by_method_500,
		stack: 'Top 500',
		color: '#009900',
		visible: false,
		showInLegend: false
	}, {
		id: 'med_100',
		name: 'Medium models',
		data: medium_by_method_100,
		stack: 'Top 100',
		color: '#009900',
	}, {
		id: 'med_10',
		name: 'Medium models',
		data: medium_by_method_10,
		stack: 'Top 10',
		color: '#009900',
		visible: false,
		showInLegend: false
	}, {
		id: 'med_1',
		name: 'Medium models',
		data: medium_by_method_1,
		stack: 'Top 1',
		color: '#009900',
		visible: false,
		showInLegend: false
	}, {
		id: 'hig_500',
		name: 'High models',
		data: high_by_method_500,
		stack: 'Top 500',
		color: '#000099',
		visible: false,
		showInLegend: false
	}, {
		id: 'hig_100',
		name: 'High models',
		data: high_by_method_100,
		stack: 'Top 100',
		color: '#000099',
	}, {
		id: 'hig_10',
		name: 'High models',
		data: high_by_method_10,
		stack: 'Top 10',
		color: '#000099',
		visible: false,
		showInLegend: false
	}, {
		id: 'hig_1',
		name: 'High models',
		data: high_by_method_1,
		stack: 'Top 1',
		color: '#000099',
		visible: false,
		showInLegend: false
	}]
	});
});

$('#n_top_models').change(function(){
	var n = $('#n_top_models option:selected').val();
	var chart = $('#capri_comparison').highcharts();
	chart.setTitle(null, { text: 'Amongst the '+n+' models according to method rank' });
	chart.yAxis[0].update({
            title: {
		text: 'Number of acceptable or better models produced in the '+n+' models'
	    }
        });
	for(var i=0;i<chart.series.length;i++) {        
		var series = chart.series[i]
		if(series.options['stack']==n){
			series.show();
			series.options.showInLegend = true;
			chart.legend.renderItem(series);
 			chart.legend.render();
		} else{
			series.hide();
			series.options.showInLegend = false;
			chart.legend.destroyItem(series);
			chart.legend.render();
		}
	}
	chart.render();
});

</script>

{% else %}

<big>There were no acceptable models produced for this target. Choose another target to see how well the methods are able to choose acceptable models.</big><br><br>

{% endif %}


<div id="method_comparison" style="width:100%; height:600px;"></div>

<script>
//Method comparison graph
var irmsd_by_method = [{% for a in irmsd_by_method %}"{{ a }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var average_irmsds = [{% for b in average_irmsds %}"{{ b }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var best_models = [{% for c in best_irmsd_model_by_method %}"{{ c }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];

var data_series = []

for (var i=0;i<irmsd_by_method.length;i++) {
//irmsd_by_method[i] = parseFloat(irmsd_by_method[i])
average_irmsds[i] = parseFloat(average_irmsds[i])
data_series.push({'y':parseFloat(irmsd_by_method[i]),'best_model':best_models[i]})
}

$(function () {
	$('#method_comparison').highcharts({
	chart: {
		type: 'column'
	},
	title: {
		text: 'I-RMSD of best model produced by each docking method for {{ target_choice }}, a {{ target_difficulty }} target'
	},
	legend : {
		enabled: false
	},
	xAxis: {
		title: {
			text: 'Docking method'
		}
	},
	yAxis: {
		title: {
			text: 'I-RMSD of best model produced for {{ target_choice }} / \u212B'
		}
	},
	xAxis: {
		categories: methods
	},
	plotOptions: {
		series: {
			cursor: 'pointer',
			point : {
				events: {
					click : function(){
						location.href = "/model_"+this.options.best_model;
					}
				}
			}
		}
	},
	series: [{
		name: 'I-RMSD of best model',
		data: data_series
	}]
	});
});
</script>

<h2>Across all targets</h2>

<div id="irmsd_comparison" style="width:100%; height:600px;"></div>

<script>
//I-RMSD comparison graph
var target_irmsds = [{% for i in target_irmsds %}"{{ i }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var best_model_irmsds = [{% for j in best_model_irmsds %}"{{ j }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var target_names = [{% for k in target_names %}"{{ k }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];
var target_difficulties = [{% for l in target_difficulties %}"{{ l }}"{% if forloop.last %}{%else%},{%endif%}{% endfor %}];

var data_series_rigid = []
var data_series_medium = []
var data_series_difficult = []

for (var i=0;i<target_irmsds.length;i++) {
if (target_difficulties[i]=='Rigid') {
data_series_rigid.push({'x':parseFloat(target_irmsds[i]),'y':parseFloat(best_model_irmsds[i]),'target':target_names[i],'difficulty':target_difficulties[i]})
} else if (target_difficulties[i]=='Medium') {
data_series_medium.push({'x':parseFloat(target_irmsds[i]),'y':parseFloat(best_model_irmsds[i]),'target':target_names[i],'difficulty':target_difficulties[i]})
} else {
data_series_difficult.push({'x':parseFloat(target_irmsds[i]),'y':parseFloat(best_model_irmsds[i]),'target':target_names[i],'difficulty':target_difficulties[i]})
}}

$(function () {
	$('#irmsd_comparison').highcharts({
	chart: {
		type: 'scatter'
	},
	title: {
		text: 'I-RMSD comparison for Benchmark targets'
	},
	legend : {
		enabled: true
	},
	xAxis: {
		title: {
			text: 'I-RMSD of native unbound'
		},
		min: 0
	},
	yAxis: {
		title: {
			text: 'I-RMSD of best model produced'
		},
		min: 0
	},
	plotOptions: {
		series: {
			cursor: 'pointer',
			point : {
				events: {
					click : function(){
						location.href = "/target/"+this.options.target;
					}
				}
			}
		}
	},
	tooltip: {
		useHTML : true,
		formatter: function() {
			var tooltip_text = '<table>';
			tooltip_text += '<tr><td><b>Target:</b></td><td>'+this.point.options.target+'</td></tr>';
			tooltip_text += '<tr><td><b>Difficulty:</b></td><td>'+this.point.options.difficulty+'</td></tr>';
			tooltip_text += '<tr><td><b>Native I-RMSD:</b></td><td>'+this.x+'</td></tr>';
			tooltip_text += '<tr><td><b>Model I-RMSD:</b></td><td>'+this.y+'</td></tr>';
			tooltip_text += '</table>';
			return tooltip_text;
		}
	},
	series: [{
		type: 'line',
		name: 'Reference line',
                data: [[0, 0], [10, 10]],
                marker: {
                    enabled: false
                },
                states: {
                    hover: {
                        lineWidth: 0
                    }
                },
                enableMouseTracking: false
	}, {
		name: 'Rigid',
		data: data_series_rigid,
		marker: {
			symbol: 'circle'
		},
		color: '#990000'
	}, {
		name: 'Medium',
		data: data_series_medium,
		marker: {
			symbol: 'circle'
		},
		color: '#009900'
	}, {
		name: 'Difficult',
		data: data_series_difficult,
		marker: {
			symbol: 'circle'
		},
		color: '#000099'
	}]
	});
});
</script>

<a href="#">Back to top</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'search' %}">Back to start</a>
{% endblock %}
