{% extends 'all/base.html' %}{% block title %}{{ target.name }} Models{% endblock %}
{% block content %}
{% django_js jquery=false %}
<h1>{{ target.name }} models</h1>

<p><a href="{% url 'target_info' target.name %}">View target details</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'search' %}">Back to search</a></p><br>

<button id="popover" type="button" class="btn btn-default">
  Select Columns
</button><br><br>

<table id="target_models_table" class="tablesorter bootstrap-popup">
<thead>
<tr>
<th data-priority="critical" class="filter-false sorter-false th.selectmodel">Select</th>
<th data-priority="1" class="filter-select th.method.name">Method</th>
<th data-priority="2" class="filter-select th.refinement.name">Refinement</th>
<th data-priority="3" class="th.i_rmsd" data-placeholder="e.g. '<=8'">I-RMSD</th>
<th data-priority="4" class="th.l_rmsd" data-placeholder="e.g. '<15'">L-RMSD</th>
<th data-priority="5" class="th.r_rmsd" data-placeholder="e.g. '<4'">R-RMSD</th>
<th data-priority="3" class="th.fnat" data-placeholder="e.g. '>0.5'">Fnat</th>
<th data-priority="5" class="th.i_l_rmsd" data-placeholder="e.g. '<3.1'">I-L-RMSD</th>
</tr>
</thead>
<tbody>
{% for model in results %}
<tr class="bodytr" name="{{ model.id }}">
<td class="td.modelcheckbox" style="width:40px"><center><input name="results/{{ model.method__name_lower }}/{{ model.refinement__name_lower }}/{{ model.target__difficulty_lower }}/{{ model.target__name }}/{{ model.target__name }}_{{ model.method__name_lower }}_{{ model.refinement__name_lower }}_{{ model.number }}.pdb-{{ model.target__receptor_bound_chain }}-fitted" class="modelcheckbox" type="checkbox"></center></td>
<td class="td.method.name" style='width:160px'>{{ model.method__name }}</td>
<td class="td.refinement.name" style='width:135px'>{{ model.refinement__name }}</td>
<td class="td.i_rmsd">{{ model.i_rmsd }}</td>
<td class="td.l_rmsd">{{ model.l_rmsd }}</td>
<td class="td.r_rmsd">{{ model.r_rmsd }}</td>
<td class="td.fnat" style='width:100px'>{{ model.fnat }}</td>
<td class="td.i_l_rmsd">{{ model.i_l_rmsd }}</td>
<td class="td.viewmodel" style='width:95px'><a href="{% url 'model' model.id %}">View model</a></td>
</tr>
{% endfor %}
</tbody>
</table>
<div id="ts-pager" class="ts-pager">
  <form>
    <img src="/static/tablesorter/addons/pager/icons/first.png" class="first"/>
    <img src="/static/tablesorter/addons/pager/icons/prev.png" class="prev"/>
    <span class="pagedisplay"></span>
    <img src="/static/tablesorter/addons/pager/icons/next.png" class="next"/>
    <img src="/static/tablesorter/addons/pager/icons/last.png" class="last"/>
    <select class="pagesize">
      <option selected="selected" value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
    </select>
  </form>
</div>
<br>
<table class="table" style="width:600px;">
<tr><td colspan="2">Download table as CSV file:</td></tr>
<form>
<tr><td style="width:300px;"><input type="radio" id="downloadcsv_all" name="downloadcsv" value="all" checked>Complete table</td>
<td style="width:300px;"><input type="radio" id="downloadcsv_onlyvisible" name="downloadcsv" value="onlyvisible">Only visible cells</td></tr>
</form>
<tr><td colspan="2"><div id="downloadify" style="visibility:hidden;"></td></tr></div></table>

<table class="table" style="width:600px;">
<tr><td>Change JSmol view</td></tr>
<tr><td><input type="submit" id="deselectmodels" value="Deselect all models">
<input type="submit" value="Update view" onclick="re_render();"></td></tr>
</table>

<script>
$('#target_models_table .modelcheckbox').click(function(){
if (this.checked) {
	this.setAttribute('checked','checked');
}
if (!this.checked) {
	this.removeAttribute('checked');
}});
</script>
<script>
//colour array
var colour_array = ["lightgreen","gold","sienna","turquoise","darkgreen","orange","purple","slategray","mistyrose","beige"];
</script>

<script>
$('#deselectmodels').click(function(){
    $('#target_models_table .modelcheckbox').prop('checked', false);
    $('#target_models_table .modelcheckbox').removeAttr('checked');
});
</script>

<style id="css">
#popover-target label {
  margin: 0 5px;
  display: block;
}
#popover-target input {
  margin-right: 5px;
}
.popover {
  margin-top: -65px; /* adjust popover position */
}
</style>
<script id="js">$(function() {

$('#popover')
    .popover({
      placement: 'right',
      html: true, // required if content has HTML
      content: '<div id="popover-target"></div>'
    })
    // bootstrap popover event triggered when the popover opens
    .on('shown.bs.popover', function () {
      // call this function to copy the column selection code into the popover
      $.tablesorter.columnSelector.attachTo( $('.bootstrap-popup'), '#popover-target');
    });


});
</script>

<table name="layout_table"><tr><td>
<script>
//jsmol scripts will go here
//create JSMol window
jmolApplet0 = Jmol.getApplet("jmolApplet0", info);
Jmol.script(jmolApplet0,"background white;");

function re_render() {
//find which models are selected and create an array of filepaths
var models_selected = [];
counter = 0;
/*$('#target_models_table .modelcheckbox').each(function() {
$(this).parent().css( "background-color", "white" );
});*/
$('#target_models_table [checked="checked"]').each(function() {
boxid=this.getAttribute('name');
models_selected.push(Django.static(boxid));
//change background colour of checked cells
$(this).parent().css( "background-color", colour_array[counter] );
counter = counter + 1;
});

//get static urls for native receptor and ligand
var receptor = Django.static('benchmarks/{{ target.name }}_r_b.pdb');
var native_ligand = Django.static('benchmarks/{{ target.name }}_l_b.pdb');

//only allow 10 models to be selected
if (models_selected.length > 10) {
	alert("Too many models selected: maximum 10");
} else {
	//construct load and colour command
	var load_files = "load FILES \""+receptor+"\" \""+native_ligand+"\"";
	for (var i=0; i<models_selected.length; i++) {
		load_files += " \""+models_selected[i]+"\"";
	}
	load_files += "; CARTOON only; frame ALL; {{ hide_rec_chains }}; display displayed or (model=1.1); color (model=1.1) red; color (model=2.1) blue;";

	for (var i=0; i<models_selected.length; i++) {
		load_files += " color (model="+(i+3)+".1) "+colour_array[i]+";";
	}
	Jmol.script(jmolApplet0,load_files);
}
}
</script>
</td><td>
<table class="table">
<tr><td style="background-color:red; width:60px"><center><font color="white"><b>Red</b></font></center></td>
<td>Native receptor</td></tr>
<tr><td style="background-color:blue; width:60px"><center><font color="white"><b>Blue</b></font></center></td>
<td>Native ligand</td></tr>
<tr><td colspan="2">The model ligands are coloured as shown in the table above</td></tr></table>

</td></tr></table>

<form name="term_form" onSubmit="return false">
JSMol terminal:&nbsp;&nbsp;<input type="text" name="terminal" style="width: 300px" />
<button onClick=update_Jmol(document.term_form.terminal.value)>Update</button>
<button onClick=reset_Jmol();>Reset</button></form><br>

<script>
$(document).ready(re_render());
$(document).ready(function(){
    Downloadify.create('downloadify',{
	swf: Django.static("downloadify/media/downloadify.swf"),
	filename: "docking_models.csv",
	data: function(){
		var csv = [];
		if(document.getElementById('downloadcsv_all').checked) {
			var selection = $('#target_models_table').find('tbody tr');
			var headselection = $('#target_models_table thead th');
			var cells = 'td';
		}
		else if(document.getElementById('downloadcsv_onlyvisible').checked) {
			var selection = $('#target_models_table').find('tbody tr:visible');
			var headselection = $('#target_models_table thead th:visible');
			var cells = 'td:visible';
		};
		var headrow=[];
		headselection.not('.th\\.selectmodel').each(function(){
			headrow.push( $(this).text() );
		});
		csv.push( headrow.join(',') );		
		selection.each(function(){
			var row = [];
			$(this).find(cells).not('.td\\.modelcheckbox').not('.td\\.viewmodel').each(function(){
				row.push( $(this).text() );
			});
			csv.push( row.join(',') )
    		});
		var csv_text=csv.join('\n');
		return csv_text;
	},
	downloadImage: Django.static("downloadify/images/download.png"),
	width: 175,
	height: 30,
    onError: function(){ 
      alert('No visible cells'); 
    },
    });
});
</script>

<p><a href="{% url 'search' %}">Back to search</a></p>
{% endblock %}
