{% extends 'all/base.html' %}
{% block title %}Targets{% endblock %}
{% block content %}
{% load static from staticfiles %}

<div class="page-header" id="rigid">
<h1>Targets</h1>
</div>

<a href="#rigid" class="rigid_link">Rigid</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#medium" class="medium_link">Medium</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#difficult" class="difficult_link">Difficult</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'search' %}" class="home">Back to search</a><br><br>

<h2><span class="rigid_title">Rigid targets</span></h2>
<table class="table">
<tr>
<th><div class="pdb_id">PDB ID</div></th>
<th><div class="category">Category</div></th>
<th><div class="rec_pdb_id">Receptor PDB ID</div></th>
<th><div class="lig_pdb_id">Ligand PDB ID</div></th>
<th><div class="rec_description">Receptor description</div></th>
<th><div class="lig_description">Ligand description</div></th>
<th><div class="i_rmsd_target">I-RMSD</div></th>
<th><div class="dasa">DASA</div></th>
<th></th>
<th></th>
</tr>
{% for complex in Rigid %}
	<tr>
	<td style="width: 100px"><a href="{{ pdb_url }}{{ complex.name }}" target="_blank"><div class="pdb_id">{{ complex.name }}</div></a></td>
	<td><div class="category">{{ complex.category}}</div></td>
	<td style="width: 150px"><a href="{{ pdb_url }}{{ complex.receptor }}" target="_blank"><div class="rec_pdb_id">{{ complex.receptor }}</div></a></td>
	<td style="width: 150px"><a href="{{ pdb_url }}{{ complex.ligand }}" target="_blank"><div class="lig_pdb_id">{{ complex.ligand }}</div></a></td>	
	<td><div class="rec_description">{{ complex.receptor_description }}</div></td>
	<td><div class="lig_description">{{ complex.ligand_description }}</div></td>
	<td><div class="i_rmsd_target">{{ complex.i_rmsd }}</div></td>
	<td><div class="dasa" id="{{ complex.name }}_dasa"></div></td>
	<td class="view_info" style="width: 100px"><a href="{% url 'target_info' complex.name %}">View info</a></td>
	<td class="view_models" style="width: 100px"><a href="{% url 'model_select' complex.name 'All' 'All' 0 0 0 0 1 0 %}">View models</a></td>
	</tr>
{% endfor %}
</table>
<a id="medium" href="#" class="top">Back to top</a>

<h2><span class="medium_title">Medium targets</span></h2>
<table class="table">
<tr>
<th><div class="pdb_id">PDB ID</div></th>
<th><div class="category">Category</div></th>
<th><div class="rec_pdb_id">Receptor PDB ID</div></th>
<th><div class="lig_pdb_id">Ligand PDB ID</div></th>
<th><div class="rec_description">Receptor description</div></th>
<th><div class="lig_description">Ligand description</div></th>
<th><div class="i_rmsd_target">I-RMSD</div></th>
<th><div class="dasa">DASA</div></th>
<th></th>
<th></th>
</tr>
{% for complex in Medium %}
        <tr>
	<td style="width: 100px"><a href="{{ pdb_url }}{{ complex.name }}" target="_blank"><div class="pdb_id">{{ complex.name }}</div></a></td>
	<td><div class="category">{{ complex.category}}</div></td>
	<td style="width: 150px"><a href="{{ pdb_url }}{{ complex.receptor }}" target="_blank"><div class="rec_pdb_id">{{ complex.receptor }}</div></a></td>
	<td style="width: 150px"><a href="{{ pdb_url }}{{ complex.ligand }}" target="_blank"><div class="lig_pdb_id">{{ complex.ligand }}</div></a></td>	
	<td><div class="rec_description">{{ complex.receptor_description }}</div></td>
	<td><div class="lig_description">{{ complex.ligand_description }}</div></td>
	<td><div class="i_rmsd_target">{{ complex.i_rmsd }}</div></td>
	<td><div class="dasa" id="{{ complex.name }}_dasa"></div></td>
	<td class="view_info" style="width: 100px"><a href="{% url 'target_info' complex.name %}">View info</a></td>
	<td class="view_models" style="width: 100px"><a href="{% url 'model_select' complex.name 'All' 'All' 0 0 0 0 1 0 %}">View models</a></td>
	</tr>
{% endfor %}
</table>
<a id="difficult" href="#" class="top">Back to top</a>

<h2><span class="difficult_title">Difficult targets</span></h2>
<table class="table">
<tr>
<th><div class="pdb_id">PDB ID</div></th>
<th><div class="category">Category</div></th>
<th><div class="rec_pdb_id">Receptor PDB ID</div></th>
<th><div class="lig_pdb_id">Ligand PDB ID</div></th>
<th><div class="rec_description">Receptor description</div></th>
<th><div class="lig_description">Ligand description</div></th>
<th><div class="i_rmsd_target">I-RMSD</div></th>
<th><div class="dasa">DASA</div></th>
<th></th>
<th></th>
</tr>
{% for complex in Difficult %}
        <tr>
	<td style="width: 100px"><a href="{{ pdb_url }}{{ complex.name }}" target="_blank"><div class="pdb_id">{{ complex.name }}</div></a></td>
	<td><div class="category">{{ complex.category}}</div></td>
	<td style="width: 150px"><a href="{{ pdb_url }}{{ complex.receptor }}" target="_blank"><div class="rec_pdb_id">{{ complex.receptor }}</div></a></td>
	<td style="width: 150px"><a href="{{ pdb_url }}{{ complex.ligand }}" target="_blank"><div class="lig_pdb_id">{{ complex.ligand }}</div></a></td>	
	<td><div class="rec_description">{{ complex.receptor_description }}</div></td>
	<td><div class="lig_description">{{ complex.ligand_description }}</div></td>
	<td><div class="i_rmsd_target">{{ complex.i_rmsd }}</div></td>
	<td><div class="dasa" id="{{ complex.name }}_dasa"></div></td>
	<td class="view_info" style="width: 100px"><a href="{% url 'target_info' complex.name %}">View info</a></td>
	<td class="view_models" style="width: 100px"><a href="{% url 'model_select' complex.name 'All' 'All' 0 0 0 0 1 0 %}">View models</a></td>
	</tr>
{% endfor %}
</table>

<a href="#" class="top">Back to top</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'search' %}" class="home">Back to search</a>

<script>
var dasa;

$(document).ready( function() {

{% for complex in Target %}

dasa = ({{ complex.asa_rl_b }} - {{ complex.asa_c_b }}).toFixed(1);

document.getElementById('{{ complex.name }}_dasa').innerHTML = String(dasa);

{% endfor %}

});
</script>

{% endblock %}

















