{% extends 'all/base.html' %}{% block title %}{{ target.name }} Models{% endblock %}
{% block content %}
{% django_js jquery=false %}
<h1>{{ target.name }} models</h1>

<p><a href="{% url 'target_info' target.name %}">View target details</a></p>

<b>Show columns:</b>
<form id="columnselector">
<input type="checkbox" id="method.name" name="Method" onclick="refreshtable();" checked>Method&nbsp
<input type="checkbox" id="refinement.name" name="Refinement" onclick="refreshtable();" checked>Refinement&nbsp
<input type="checkbox" id="i_rmsd" name="I-RMSD" onclick="refreshtable();" checked>I-RMSD&nbsp
<input type="checkbox" id="l_rmsd" name="L-RMSD" onclick="refreshtable();" checked>L-RMSD&nbsp
<input type="checkbox" id="r_rmsd" name="R-RMSD" onclick="refreshtable();" checked>R-RMSD&nbsp
<input type="checkbox" id="fnat" name="Fnat" onclick="refreshtable();" checked>Fnat&nbsp
<input type="checkbox" id="i_l_rmsd" name="I-L-RMSD" onclick="refreshtable();" >I-L-RMSD&nbsp
</form>
<br>

<table id="target_models_template" class="table" style='display:none;'>
<thead>
<tr>
<th class="filter-false sorter-false th.selectmodel">Select</th>
<th class="filter-select th.method.name">Method</th>
<th class="filter-select th.refinement.name">Refinement</th>
<th class="th.i_rmsd" data-placeholder="e.g. '<=8'">I-RMSD</th>
<th class="th.l_rmsd" data-placeholder="e.g. '<15'">L-RMSD</th>
<th class="th.r_rmsd" data-placeholder="e.g. '<4'">R-RMSD</th>
<th class="th.fnat" data-placeholder="e.g. '>0.5'">Fnat</th>
<th class="th.i_l_rmsd" data-placeholder="e.g. '<3.1'">I-L-RMSD</th>
</tr>

</thead>
<tbody>
{% for model in results %}
<tr class="bodytr" name="{{ model.id }}">
<td class="td.modelcheckbox" style="width:40px"><center><input id="{{ model.id }}" class="modelcheckbox" type="checkbox"></center></td>
<td class="td.method.name" style='width:160px'>{{ model.method.name }}</td>
<td class="td.refinement.name" style='width:135px'>{{ model.refinement.name }}</td>
<td class="td.i_rmsd">{{ model.i_rmsd }}</td>
<td class="td.l_rmsd">{{ model.l_rmsd }}</td>
<td class="td.r_rmsd">{{ model.r_rmsd }}</td>
<td class="td.fnat" style='width:100px'>{{ model.fnat }}</td>
<td class="td.i_l_rmsd">{{ model.i_l_rmsd }}</td>
<td class="td.viewmodel" style='width:95px'><a href="{% url 'model' model.id %}">View model</a></td>
</tr>
{% endfor %}
</tbody>
</table>
<table id="target_models_table" class="tablesorter"></table>
<div id="ts-pager" class="ts-pager">
  <form>
    <img src="/static/tablesorter/addons/pager/icons/first.png" class="first"/>
    <img src="/static/tablesorter/addons/pager/icons/prev.png" class="prev"/>
    <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
    <img src="/static/tablesorter/addons/pager/icons/next.png" class="next"/>
    <img src="/static/tablesorter/addons/pager/icons/last.png" class="last"/>
    <select class="pagesize">
      <option selected="selected" value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
    </select>
  </form>
</div>
<br>
<input type="submit" value="Deselect all models" onclick="deselectmodels();">&nbsp;&nbsp;
<input type="submit" value="Update view" onclick="re_render();"><br>
<a href="{% url 'search' %}">Back to search</a>

<script>
//colour array
var colour_array = ["lightgreen","gold","sienna","turquoise","darkgreen","orange","purple","slategray","mistyrose","beige"];
</script>

<script>
function deselectmodels(){
    $('#target_models_table .modelcheckbox').prop('checked', false);
    $('#target_models_table .modelcheckbox').removeAttr('checked');
}
</script>

<script>

function refreshtable(){
    var th='.th\\.';
    var td='.td\\.';
    var template=document.getElementById('target_models_template');
    var tbl=document.getElementById('target_models_table');
    var intable=template.innerHTML;
    var ch = new Array();
    $('#target_models_table [checked="checked"]').each(function() {
    boxid=this.getAttribute('name');
    ch.push(boxid);
    });
    tbl.innerHTML = intable;
    var form=document.getElementById('columnselector');
    var columns=form.getElementsByTagName('input');
    for(var i=0; i<columns.length; i++) {
	if (!columns[i].checked) {
            var rawid=columns[i].id;
            var id = rawid.replace(".", "\\.");
            var headerclass=th+id;
            var cellclass=td+id;
            $('#target_models_table ' + headerclass).remove();
            $('#target_models_table ' + cellclass).remove();
	}
    }
    $('#target_models_table .modelcheckbox').click(function(){
	if (this.checked) {
            this.setAttribute('checked','checked');
            boxid=this.getAttribute('name');
            //alert(boxid+" selected");
	}
	if (!this.checked) {
            this.removeAttribute('checked');
            boxid=this.getAttribute('name');
            //alert(boxid+" deselected");
	}
    });
    for(var k=0; k<ch.length; k++) {
	var selectedmodel=ch[k];
	$('#target_models_table [name="'+selectedmodel+'"]').prop('checked',true);
	$('#target_models_table [name="'+selectedmodel+'"]').attr('checked','checked');
    }

    $('.tablesorter').trigger("updateAll");

}

</script>

<table name="layout_table"><tr><td>
<script>
//jsmol scripts will go here
//create JSMol window
jmolApplet0 = Jmol.getApplet("jmolApplet0", info);
Jmol.script(jmolApplet0,"background white;");

function re_render() {
//need to unload files first?
//find which models are selected
var models_selected = [];
$('#target_models_table [checked="checked"]').each(function() {
boxid=this.getAttribute('name');
models_selected.push(Django.static(boxid));
});

//get static urls for native receptor and ligand
var receptor = Django.static('benchmarks/{{ target.name }}_r_b.pdb');
var native_ligand = Django.static('benchmarks/{{ target.name }}_l_b.pdb');

//only allow 10 models to be selected
if (models_selected.length > 10) {
	alert("Too many models selected: maximum 10");
} else {
	//construct load and colour command
	var load_files = "load FILES \""+receptor+"\" \""+native_ligand+"\"";
	for (var i=0; i<models_selected.length; i++) {
		load_files += " \""+models_selected[i]+"\"";
	}
	//load_files += "; CARTOON only; frame ALL; hide ALL; {{ display_lig_chains }}; display displayed or */1; display displayed or */2;; color */1 red; color */2 blue;";
	load_files += "; CARTOON only; frame ALL; hide ALL; {{ display_lig_chains }};";
	//for (var i=0; i<models_selected.length; i++) {
	//	load_files += " color */"+(i+3)+" "+colour_array[i]+";";
	//}
	Jmol.script(jmolApplet0,load_files);
}
}
</script>
</td><td>
Red - Native receptor<br>
Blue - Native ligand<br><br>
The model ligands are coloured as shown in the table above
</td></tr></table>

<form name="term_form" onSubmit="return false">
JSMol terminal:&nbsp;&nbsp;<input type="text" name="terminal" style="width: 300px" />
<button onClick=update_Jmol(document.term_form.terminal.value)>Update</button>
<button onClick=reset_Jmol();>Reset</button></form><br>

<script>
{% for model in results %}
$(document).ready(function() {
	var model_method_name = "{{ model.method.name }}".toLowerCase();
	var model_refinement_name = "{{ model.refinement.name }}".toLowerCase();
	var model_target_difficulty = "{{ model.target.difficulty }}".toLowerCase();
	var model_target_name = "{{ model.target.name }}";
	var model_number = "{{ model.number }}";
	var model_receptor_chains = "{{ model.target.receptor_bound_chain }}";
	var filepath = "results/"+model_method_name+"/"+model_refinement_name+"/"+model_target_difficulty+"/"+model_target_name+"/"+model_target_name+"_"+model_method_name+"_"+model_refinement_name+"_"+model_number+".pdb-"+model_receptor_chains+"-fitted";
	$('#target_models_table #{{ model.id }}').attr("name",filepath);
});
{% endfor %}

$(document).ready(refreshtable());
$(document).ready(re_render());
</script>

{% endblock %}
